# PostgreSQL connection string
DATABASE_URL="postgresql://usuario:password@host:5432/hdb_service?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-random-secret-here-min-32-chars"

# OneSignal Push Notifications
ONESIGNAL_APP_ID="your-onesignal-app-id"
ONESIGNAL_API_KEY="your-onesignal-rest-api-key"

# App
APP_URL="http://localhost:3000"
